.head {
  color: #2a3190;
  padding: 8px 10px;
  text-align: center;
  font-weight: 900;
  font-size: 22px;
  background-color: #f8f9fa;
  margin-bottom: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.tagline {
  color: #555;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  padding-bottom: 5px;
  background-color: #f8f9fa;
  border-bottom: 3px solid #3498db;
  margin-bottom: 5px;
}

.mobNo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 0;
  cursor: pointer;
  color: #333;
  margin-bottom: 5px;
}

.mobNo:hover {
  color: #f44336;
}

.whatsapp-img {
  height: 16px;
  cursor: pointer;
  margin-right: 5px;
}
